<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form action="/dienthoai/add" method="post" th:object="${dienThoai}">
    <input hidden="hidden" type="text" th:field="*{maDienThoai}">
    <label for="tenDienThoai">Ten dien thoai</label>
    <input type="text" id="tenDienThoai" th:field="*{tenDienThoai}">
    <br>
    <label for="diaChi">Dia chi</label>
    <input type="text" id="diaChi" th:field="*{diaChi}">
    <br>
    <label for="giaVon">Gia von</label>
    <input type="text" id="giaVon" th:field="*{giaVon}"/>
    <br>
    <label for="loai">Loai</label>
    <select name="loai.id" id="loai">
        <option th:each="loaiDT : ${listLoaiDienThoai}" th:value="${loaiDT.id}" th:label="${loaiDT.tenLoai}"></option>
    </select>
    <br>
    <label for="nhacungcap">Nha cung cap</label>
    <input type="text" id="nhacungcap" th:field="*{nhaCungCap}">
    <br>

    <button type="submit">Save</button>
</form>
</body>
</html>