<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Điện thoại</title>
</head>
<body>
<a href="/dienthoai/add">Add dien thoai</a>
<br>
<br>
<table border="1">
    <tr>
        <th>Mã điện thoại</th>
        <th>Tên điện thoại</th>
        <th>Địa chỉ</th>
        <th>Giá vốn</th>
        <th>Loại</th>
        <th>Nhà cung cấp</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    <tbody>
    <tr th:each="dienthoai : ${listDienThoai}">
        <td th:text="${dienthoai.maDienThoai}"></td>
        <td th:text="${dienthoai.tenDienThoai}"></td>
        <td th:text="${dienthoai.diaChi}"></td>
        <td th:text="${dienthoai.giaVon}"></td>
        <td th:text="${dienthoai.loai.getTenLoai}"></td>
        <td th:text="${dienthoai.nhaCungCap}"></td>
        <td>
            <a th:href="@{/dienthoai/edit/{id}(id=${dienthoai.getMaDienThoai()})}">Sửa</a>
        </td>
        <td>
            <a th:href="@{/dienthoai/delete/{id}(id=${dienthoai.getMaDienThoai()})}">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>